---
- hosts: gcp_role_appserver
  become: true
  vars:
    install_dir: "/opt/static-website-example"
  roles:
  - common
  - appserver
- hosts: gcp_role_proxy
  become: true
  roles:
  - common
  - proxy
